@use '@/assets/styles/resources' as *;

.question {
  width: 100%;
  max-width: 1064px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: space-between;
  padding: 137px 0 24px;

  @media (min-width: $dt_bp) {
    margin: auto;
    height: 900px;
    gap: 48px;
    padding: 133px $dt_padding 122px;
  }

  &__title {
    max-width: 624px;
    padding: 0 $sp_padding;

    @media (min-width: $dt_bp) {
      padding: 0;
    }
  }
}
