/* MAIN COLOR VARIABLES */
$primary_color1: #E87928;
$primary_color2: #FF8B37;
$primary_color3: #FFAC70;
$primary_color4: #FFF3EB;

$secondary_color1: #1C1C21;
$secondary_color2: #D0D0D8;
$secondary_color3: #F5F5F7;
$secondary_color4: #FFFFFF;

$right_color1: #47D867;
$right_color2: #E6FAEA;

$wrong_color1: #EC6259;
$wrong_color2: #FDEEED;

/* BACKGROUND VARIABLES */
$page_bg_home1: $secondary_color4;
$page_bg_home2: $primary_color4;
$page_bg: $secondary_color3;